{% extends 'tracker/home_admin.html' %}
{% block extra_js %}
    <script type='text/javascript'>

        $(document).ready(function() {
            $('#create-user-form').validate({
                submitHandler: function(form) {
                    $(form).trigger('ajaxSubmit');
                }
            });
            get_data('#{{ group|lower }}s', '{{ group|lower }}s');
        });

    </script>
{% endblock %}
{% block content %}
    <div class="container">
        <div id='loading show-{{ group|lower }}s' style='display:none'><img src="{{ STATIC_URL }}img/loading.gif"/></div>
        <div id='create-user-btn'><button class='btn btn-primary' data-toggle='modal' data-target='#createModal'>Add {{ group }}</button></div>
        <div id='{{ group|lower }}s'></div>
    </div>
    {% include 'tracker/add_user_modal.html' %}
{% endblock %}