{% if trainer_list %}
<table cellpadding="10">
    <thead>
    <tr>
        <th>Username</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Cost per hour</th>
    </tr>
    </thead>
    <tbody>
    {% for trainer in trainer_list %}
        <tr>
            <td><a href="#" class="edit-user" data-pk="{{ trainer.pk }}" data-group="trainers">{{ trainer.user.username }}</a></td>
            <td>{{ trainer.user.first_name }}</td>
            <td>{{ trainer.user.last_name }}</td>
            <td>{{ trainer.user.email }}</td>
            <td>{{ trainer.cost|floatformat:2|default:'NA' }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
    <p>No trainers found</p>
{% endif %}